*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0d4cd;
    margin: 0;
}

.layout {
    height: 550px;
    width: 350px;
    background-color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 15px black;
    position: relative;
}

.displayScreen{
    height: 200px;
    background-color: #000000; 
    border-radius: 10px;
    margin-bottom: 20px;
    color: #eaebec;
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Times New Roman', Times, serif;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    width: 75px;
    height: 75px;
    background-color: #000000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #aeabac;
    border-radius: 10px;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

#special{
    background-color: #e29479;
}

#backSpace{
    color: #e29479;
}

button:active{
    transform: scale(0.95);
}

button:hover{
    background-color: #28231D;
}

#special:hover{
    background-color: #e29479;
    filter: brightness(95%);
} 

.hoverImg {
    display: none;
    position: absolute;
    top: 50px;  
    right: 100px;  
    width: 100px;  
}

.percent-btn:hover + .hoverImg {
    display: block;
}
